@import "./imports/include-media";

@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Roboto+Condensed:wght@300;400&display=swap");

$fonts: (
	landing-small: (600 6.5vw 'Poppins'),
	landing-medium: (600 50px 'Poppins'),
	landing-large: (600 4.5vw 'Poppins'),

	primary-small: (600 6vw 'Poppins'),
	primary-fix: (600 20px 'Poppins'),
	primary-medium: (600 24px 'Poppins'),
	primary-large: (600 28px 'Poppins'),

	secondary-small: (300 6vw 'Poppins'),
	secondary-medium: (300 28px 'Poppins'),
	secondary-large: (300 32px 'Poppins'),

	text-small: (300 14px 'Poppins'),
	text-medium: (300 14px 'Poppins'),
	text-large: (300 14px 'Poppins'),

	icons-small: (6vw 'Material Icons'),
	icons-medium: (28px 'Material Icons'),
	icons-large: (32px 'Material Icons')
);

@function font($fonttype) {
	@return map-get($fonts, $fonttype);
}

$colors: (
	white-custom: #FDFFF7,
	primary: #3385FF,
	dark: #171717,
	darker: #1d1d1d,
	almost-black1: #242424,
	// almost-black2: #303030,
	almost-black2: #242424,
	shadow: #000000,
	secondary: #4e96ff,
	black-custom: #000000,
	gray-custom: #333333
);

@function color($color) {
	@return map-get($colors, $color);
}

$sizes: (
	nav-small: 56px,
	nav-large: 80px
);

@function size($arg) {
	@return map-get($sizes, $arg);
}

$padding: (
	xxxs: 4px,
	xxs: 12px,
	xs: 20px,
	s: 40px,
	m: 48px,
	l: 105px
);

@function padding($arg) {
	@return map-get($padding, $arg);
}

$anim-time: 0.1s;
$anim-time-slow: 0.3s;
$anim-type: ease-in-out;
$border-radius: 16px;

$breakpoints: (
	'phone': 320px,
	'big-phone': 480px,
  'tablet': 768px,
	'desktop': 1024px,
	'big-desktop': 1200px
);


html{
	scroll-behavior: smooth;
	body{
		scroll-behavior: smooth;
		position: fixed;
		top:0;
		bottom:0;
		left:0;
		right:0;
		padding:0;
		margin:0;
		display: grid;
		grid-template-rows: auto 13fr;
		-webkit-tap-highlight-color: rgba(0,0,0,0);

		nav{

			background: color(black-custom);
			grid-row: 1;
			display: flex;
			box-sizing: border-box;
			justify-content: space-between;
			align-items: center;
			z-index: 2;
			flex-basis: 100%;
			height: auto;
			perspective: 1000px;

			@include media (">=desktop") {
				justify-content: space-between;
			}

			.logo{
				display: block;
				padding:padding(xs);
				padding-right:0;
				height: 24px;
				transition: $anim-time $anim-type;
				transform-style: preserve-3d;

				@include media (">=big-phone", "<tablet") {
					padding: padding(xs) padding(s);
					padding-right:0;
				}
				@include media (">=tablet", "<desktop") {
					padding: padding(xs) padding(m);
					padding-right:0;
				}
				@include media (">=desktop") {
					padding: padding(xs) padding(l);
					padding-right:0;
				}

				&:hover{
					transform: translateZ(20px);
				}
			}

			.glass{
				display: flex;
				visibility:hidden;
				position:fixed;
				top:0%;
				bottom:0%;
				left:0%;
				right:0%;
				width: 100vw;
				height: 100vh;
				backdrop-filter: blur(0px) grayscale(0);
				z-index: -1;
				transition: $anim-time $anim-type;
				justify-content: center;
				align-items: center;
				
				&.clicked{
					visibility: visible;
					z-index: 3;
					backdrop-filter: blur(10px) grayscale(1);

					@include media (">=desktop"){
						visibility: hidden;
					}
				}
			}


			.nav-links{
				display: flex;
				visibility: hidden;
				opacity: 0;
				background: color(dark);
				color: color(white-custom);
				padding: 0;
				width: auto;
				height: auto;
				margin: auto;
				z-index: 4;
				border-radius: $border-radius;
				border: 0px solid color(secondary);
				filter: drop-shadow(0 0 0px color(shadow));
				flex-direction: column;
				justify-content: center;
				align-items: center;
				transition: $anim-time $anim-type;
				position: fixed;
				right: padding(xs);
				top: padding(xs);
				transform: translate(0, 10%);

				@include media (">=big-phone", "<tablet") {
					right: padding(s);
				}
				@include media (">=tablet", "<desktop") {
					right: padding(m);
				}

				@include media(">=desktop"){
					position: initial;
					left: initial;
					top: initial;
					flex-direction: row;
					justify-content: space-between;
					transform: initial;
					opacity: 1;
					border-radius: 0;
					filter: none;
					visibility: visible;
					background: none;
					margin: 0;
					padding: padding(xs) padding(l);
					padding-left:0;
				}



				ul{
					width: inherit;
					height: inherit;
					box-sizing: border-box;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: flex-start;
					margin: 0%;
					list-style-type: none;
					padding: 0 padding(xs);
					transition: $anim-time $anim-type;
					z-index: 4;
					perspective: 1000px;

					@include media(">=desktop"){
						padding-right: 0;
						flex-direction: row;
						justify-content: flex-end;
						height: initial;
						width: initial;
					}
		
					li{
						padding-bottom: padding(xs);
						opacity: 0;
						z-index: 4;
						transform-style: preserve-3d;
						transition: $anim-time $anim-type;

						@include media(">=desktop"){
							padding: 0;
							padding-left: padding(xs);
							opacity: 1;
						}

						a{
							color: color(white-custom);
							text-decoration: none;
							font:font(primary-small);
							transition: $anim-time $anim-type;

							@include media (">=big-phone", "<tablet") {
								font:font(primary-medium);
							}
							@include media (">=tablet", "<desktop") {
								font:font(primary-medium);
							}
							@include media (">=desktop", "<big-desktop") {
								font:font(primary-fix);
							}
							@include media (">=big-desktop") {
								font:font(primary-fix);
							}

							&:hover{
								color:color(primary);
							}
						}

						&:first-child{
							padding-top: padding(xs);

							@include media (">=desktop"){
								padding: 0;
							}
						}

						&:hover{
							transform: translateX(10px);
							filter: drop-shadow(0 0 4px color(shadow));
							color: color(primary);

							@include media(">=desktop"){
								transform: translateZ(10px);
							}
						}
					}
				}

				@include media ("<desktop"){
					&.clicked > ul > li{
						opacity: 1;
					}
			
					&.clicked{
						border-radius: $border-radius;
						visibility: visible;
						// border: 4px solid color(primary);
						filter: drop-shadow(0 0 10px color(shadow));
						opacity: 1;
					}
				}
			}

			span.arrow{
				display: block;
				color: color(white-custom);
				padding: padding(xs);
				transition: $anim-time $anim-type;
				z-index: 4;
				cursor: pointer;
				transform-style: preserve-3d;

				@include media (">=big-phone", "<tablet") {
					padding: padding(xs) padding(s);
				}
				@include media (">=tablet", "<desktop") {
					padding: padding(xs) padding(m);
				}
				@include media (">=desktop", "<big-desktop") {
					padding: padding(xs) padding(l);
					display: none;
				}
				@include media (">=big-desktop") {
					padding: padding(xs) padding(l);
					display: none;
				}

				&:hover{
					transform: translateZ(20px);
				}
		
				&.clicked{
					transform: rotateX(0deg) rotateY(0deg);
					color: color(secondary);

					&:hover{
						transform: rotateX(10deg) rotateY(10deg);
					}
				}
			}
		}

		.main-container{
			scroll-behavior: smooth;
			grid-row: 2/-1;
			display: flex;
			flex-direction: column;
			scroll-snap-type: y mandatory;
			overflow-y: auto;
			justify-content: flex-start;

			.page{
				flex-grow: 0;
				flex-shrink: 0;
				scroll-snap-align: start;
				scroll-snap-stop: always;
				box-sizing: border-box;
				position: relative;
				display: grid;
				width: 100vw;
				height: 100%;
				grid-template-columns: repeat(4, 1fr);
				grid-template-rows: auto repeat(5, 2fr);
				background: color(almost-black1);
			
				&:nth-child(even){
					background: color(almost-black2);
				}

				&#landing{
					grid-template-rows: auto repeat(5, 2fr) 1fr;
					background: color(black-custom);

					.profile-container{
						grid-row: 1/4;
						grid-column: 1/-1;
						display: flex;
						justify-content: center;
						align-items: center;
						overflow: hidden;

						@include media(">=tablet"){
							grid-row: 1/6;
							grid-column: 3/5;
						}

						img.profile{
							max-height: 100%; 
							max-width: 100%; 
							object-fit: scale-down;
							z-index: 1;
						}
					}
				}
				
				.header-text-container{
					grid-row: 1/2;
					grid-column: 1/-1;
					margin: 0;
					background: inherit;
					display: flex;
					align-items: center;
					
					.header-text{
						width: 100%;
						color:color(white-custom);
						font:font(primary-small);
						padding: padding(xs);
						padding-bottom: 0;
						// padding-top: padding(xs);

						span.highlight{
							color: color(primary);
						}
	
						@include media (">=big-phone", "<tablet") {
							padding: padding(s);
							// padding-bottom: 0;
							padding-top: padding(xs);
							padding-bottom: 0;
							font:font(primary-medium);
						}
						@include media (">=tablet", "<desktop") {
							padding: padding(m);
							// padding-bottom: 0;
							padding-top: padding(xs);
							padding-bottom: padding(xs);
							font:font(primary-medium);
						}
						@include media (">=desktop", "<big-desktop") {
							padding: padding(l);
							// padding-bottom: 0;
							padding-top: padding(xs);
							padding-bottom: padding(xs);
							font:font(primary-large);
						}
						@include media (">=big-desktop") {
							padding: padding(l);
							// padding-bottom: 0;
							padding-top: padding(xs);
							padding-bottom: padding(xs);
							font:font(primary-large);
						}
					}
				}

				.card-area{
					box-sizing: border-box;
					grid-row: 2/-2;
					grid-column: 1/-1;
					display: grid;
					grid-template-rows: minmax(0,19fr) minmax(0,1fr);
					grid-template-columns: 1fr;


					.card-container{
						box-sizing: border-box;
						grid-row:1/2;
						grid-column: 1/-1;
						z-index: 0;
						width: 100%;
						height: 100%;
						perspective: 1000px;

						@include media ("<big-phone"){
							display: flex;
							overflow-x: auto;
							scroll-snap-type: x mandatory;
							justify-content: flex-start;

							&::-webkit-scrollbar {
								display: none;
							}
						}

						@include media (">=big-phone", "<desktop") {
							padding: padding(xs) padding(m);
							display:grid;
							grid-row:1/-1;
							gap: padding(xs);

							grid-template-columns: repeat(2, minmax(0,1fr));
							grid-template-rows: repeat(2, minmax(0,1fr));
						}

						@include media (">=desktop") {
							padding: padding(xs) padding(l);
							display:grid;
							grid-row:1/-1;
							gap: padding(xs);

							grid-template-columns: repeat(3, minmax(0,1fr));
							grid-template-rows: repeat(2, minmax(0,1fr));
						}

						@include media (">=desktop", "portrait") {
							padding: padding(xs) padding(l);
							display:grid;
							grid-row:1/-1;
							gap: padding(xs);

							grid-template-columns: repeat(3, minmax(0,1fr));
							grid-template-rows: repeat(2, minmax(0,1fr));
						}
									
						.card{
							perspective: 1000px;
							display: grid;
							grid-template-rows: minmax(0, 1fr) auto;
							grid-template-columns: 1fr;
							box-sizing: border-box;
							border-radius: $border-radius;
							transition: $anim-time $anim-type;
							filter: drop-shadow(0 0 10px color(black-custom));

							@include media("<big-phone"){
								height: 100%;
								width: 100%;
								flex-shrink: 0;
								padding: padding(xs);
								scroll-snap-align: start;
								scroll-snap-stop: always;
							}

							@include media(">=desktop", "<big-desktop"){
								&:first-child{
									grid-column: span 2;
								}
								&:last-child{
									grid-column: span 2;
								}
							}

							@include media(">=big-desktop"){
								&:first-child{
									grid-row: 1/-1;
								}
								&:last-child{
									grid-row: 1/-1;
									grid-column: -2/-1;
								}
							}
	
							.cardimg{
								box-sizing: border-box;
								background: color(darker);
								border-radius: $border-radius;
								grid-row: 1/-1;
								grid-column: 1/-1;
								display: flex;
								overflow: hidden;
								z-index: 1;
								border: 0px solid color(white-custom);
								transition: $anim-time $anim-type;

								img{
									object-fit: cover;
									min-width: 100%;
									min-height: 100%;
								}

							}
	
							.cardtext{
								transform-style: preserve-3d;
								box-sizing: border-box;
								color: color(almost-black1);
								color: color(white-custom);
								grid-row: -2/-1;
								grid-column: 1/-1;
								padding: padding(xs);
								font: font(text-small);
								z-index: 1;
								line-height: 1em;
								overflow: hidden;
								background: color(secondary);
								border-radius: $border-radius;
								filter: drop-shadow(0 0 10px color(shadow));
								transition: $anim-time $anim-type;
								margin: padding(xxs);

								@include media(">=big-phone"){
									&.card-hover{
										background: color(primary);
										transform: translate3d(5px, 5px, 5px);
										z-index: 2;
									}
								}
							}

							@include media(">=big-phone"){
								&:hover{
									transform: rotateX(5deg) rotateY(5deg);
									filter: drop-shadow(0 0 10px color(black-custom));
								}
							}
						}
					}
	
					.swipe-text{
						display:flex;
						justify-content: center;
						margin: 0 auto;
						padding: 0 padding(xs);
						grid-row: 2;
						grid-column: 1;
						// fill: color(white-custom);
						// opacity: 1;

						@include media ("<big-phone") {
							padding: 0 padding(s);
						}
						@include media (">=big-phone", "<desktop") {
							padding: 0 padding(m);
							display: none;
						}
						@include media (">=desktop", "<big-desktop") {
							padding: 0 padding(l);
							display: none;
						}
						@include media (">=big-desktop") {
							padding: 0 padding(l);
							display: none;
						}

						img{
							min-height: 100%;
							opacity: 0.5;
						}
					}
				}

				.landing-text-container{
					display: flex;
					flex-direction: column;
					justify-content: flex-end;
					grid-column: 1/-1;
					grid-row: 4/6;
					padding: padding(xs);

					@include media (">=big-phone", "<tablet") {
						padding: padding(s);
					}
					@include media (">=tablet", "<desktop") {
						padding: padding(m);
						grid-row: 2/6;
						justify-content: center;
					}
					@include media (">=desktop", "<big-desktop") {
						padding: padding(l);
						grid-row: 2/6;
						justify-content: center;
					}
					@include media (">=big-desktop") {
						padding: padding(l);
						grid-row: 2/6;
						justify-content: center;
					}

					.landing-text{
						font:font(landing-small);
						color:color(white-custom);
						z-index: 1;

						@include media (">=tablet"){
							font: font(landing-large)
						}
						span#cursor-text, span#cursor{
							color:color(primary);
						}
					}
				}

				ul.arrow-links{
					padding: 0 padding(xs);
					padding-top: 0px;
					margin:0 0 0 -6px;

					grid-column: 1/-1;
					grid-row: 6/7;
					display: flex;
					flex-direction: column;
					justify-content: center;
					list-style-type: none;
					align-items: flex-start;
					font: font(secondary-small);
					perspective: 1000px;

					// background: inherit;

					@include media (">=big-phone", "<tablet") {
						padding: 0 padding(s);
						font: font(secondary-medium);
					}
					@include media (">=tablet", "<desktop") {
						padding: 0 padding(m);
						font: font(secondary-large);
					}
					@include media (">=desktop", "<big-desktop") {
						padding: 0 padding(l);
						font: font(secondary-large);
					}
					@include media (">=big-desktop") {
						padding: 0 padding(l);
						font: font(secondary-large);
					}

					li{
						display:flex;
						color: color(secondary);
						justify-content: flex-start;
						align-items: center;
						margin-bottom: 0;
						transition: $anim-time $anim-type;
						filter: drop-shadow(0 0 0 transparent);
						// background: inherit;
						// border-radius: 100px;
						// padding: padding(xxs);

						&::before{
							display: inline-block;
							content: "\E315";
							font: font(icons-small);

							@include media (">=big-phone", "<tablet") {
								font: font(icons-medium);
							}
							@include media (">=tablet", "<desktop") {
								font: font(icons-large);
							}
							@include media (">=desktop", "<big-desktop") {
								font: font(icons-large);
							}
							@include media (">=big-desktop") {
								font: font(icons-large);
							}
						}

						&:hover{
							transform: translateZ(10px) translateX(10px);
							filter: drop-shadow(0 0 4px color(shadow));
							color: color(primary);
							font-weight:bold;
						}
					}
				}
				a{
					grid-row: -2/-1;
					grid-column: 1/-1;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					flex-grow: 0;
					flex-shrink: 0;

					.scroll-indicator-container{
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						flex-grow: 0;
						flex-shrink: 0;
						cursor: pointer;
	
						i.arrow{
							color: color(primary);
							opacity: 0;
							transition: $anim-time-slow $anim-type;
							margin-bottom: 0px;
							cursor: pointer;
	
							&:last-child{
								margin-top: -18px;
							}
	
							&.on{
								opacity: 1;
							}
						}
					}
				}
				
				&#contact{

					.header-text-container{
						justify-content: center;

						.header-text{
							height:auto;
							width: auto;
							z-index: 1;
							display: flex;
							justify-content: center;
							align-items: center;
							margin: padding(xxs) padding(xs);
							margin-bottom: 0;
							padding: padding(xxxs) padding(s);
							// padding-bottom: 0;
							background: color(darker);
							border-radius: $border-radius;
							filter: drop-shadow(0 0 10px color(shadow));
							text-align: center;
						}
					}
					.contact-container{
						grid-row: 1/-1;
						grid-column: 1/-1;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						position: relative;
						overflow: hidden;
	
						.svg-container{
							display: flex;
							// padding-top: padding(xs);
							justify-content: center;
							align-items: flex-start;
							position: absolute;
							height:100%;
							width: 100%;
							overflow:hidden;
	
							svg.svgbg{
								flex-shrink: 0;
								display: block;
								fill: color(darker);
								z-index: 0;
								min-height:100%;
								min-width: 100%;
								transition: $anim-time $anim-type;
	
								&.over{
									fill: color(primary);
									filter: drop-shadow(0 0 4px color(shadow));
								}
							}
						}
					}
	
					.main-contact{
						grid-row: 2/-1;
						grid-column: 1/-1;
						z-index: 1;
						display: flex;
						flex-direction: column;
						// grid-template-rows: repeat(3, 1fr);
						// grid-template-columns: repeat(3, 1fr);
						justify-content: center;
						align-items: center;
						// margin-top: padding(xxs);
						padding: 0 padding(xs);
	
						.social-container{
							display: flex;
							flex-direction: column;
							grid-column: 2;
							grid-row: 2;
							justify-content: center;
							align-items: stretch;
							width: 100%;
							max-height: 100%;
							// max-width: 350px;

							padding: padding(xs);
							flex-grow: 1;
	
							@include media (">=big-phone", "<tablet") {
								padding: padding(xs) padding(s);
								width: max-content;
							}
							@include media (">=tablet", "<desktop") {
								padding: padding(xs) padding(m);
								width: max-content;
								max-height: 50%;
							}
							@include media (">=desktop", "<big-desktop") {
								padding: padding(xs) padding(l);
								width: max-content;
								max-height: 50%;
							}
							@include media (">=big-desktop") {
								padding: padding(xs) padding(l);
								width: max-content;
								max-height: 50%;
							}
	
							form{
								flex: 1;
								background: color(darker);
								display: flex;
								border-radius: $border-radius;
								justify-content: stretch;
								filter: drop-shadow(0 0 10px color(shadow));
								flex-direction: column;
								padding: padding(xs);
								margin-bottom: padding(xs);
								perspective: 1000px;
								
								@include media("<big-phone"){
									padding: padding(xxs);
								}
								
								textarea{
									flex-grow: 1;
									appearance: none;
									border: none;
									padding: padding(xxxs) padding(xxs);
									background: color(darker);
									color: color(white-custom);
									border-radius: $border-radius;
									filter: drop-shadow(0 0 10px color(shadow));
									z-index: 1;
									// transition: $anim-time $anim-type;
									font: font(text-small);
									border: 2px solid color(secondary);
									margin-bottom: padding(xxs);
									height: auto;
									resize: none;
									overflow-y: scroll;
									max-height: 312px;
									
									
									@include media ("height<640px") {
										padding: padding(xxs);
										// height: 82px;
									}
									
									@include media("height>=640px") {
										padding: padding(xxs);
										// height: 128px;
									}

									&:focus{
										outline: none;
										filter: drop-shadow(0 0 2px color(secondary));
									}
								}
	
								input{
									flex-grow: 0;
									appearance: none;
									border: none;
									padding: padding(xxs);
									background: color(darker);
									color: color(white-custom);
									border-radius: $border-radius;
									filter: drop-shadow(0 0 10px color(shadow));
									z-index: 1;
									// transition: $anim-time $anim-type;
									font: font(text-small);
									border: 2px solid color(secondary);
									margin-bottom: padding(xxs);
	
									@include media (">=big-phone") {
										padding: padding(xxs);
									}
	
									&#submit{
										border: none;
										justify-content: center;
										align-items: center;
										padding: padding(xxs);
										background: color(secondary);
										color: color(white-custom);
										border-radius: $border-radius;
										filter: drop-shadow(0 0 10px color(shadow));
										z-index: 1;
										transition: $anim-time $anim-type;
										cursor: pointer;
										font: font(text-small);
										margin: 0;
										transform-style: preserve-3d;
				
										@include media (">=big-phone", "<tablet") {
											padding: padding(xs) padding(s);
											font: font(text-small);
										}
										@include media (">=tablet", "<desktop") {
											padding: padding(xs) padding(m);
											font: font(text-small);
										}
										@include media (">=desktop", "<big-desktop") {
											padding: padding(xs) padding(l);
											font: font(text-small);
										}
										@include media (">=big-desktop") {
											padding: padding(xs) padding(l);
											font: font(text-small);
										}
					
										&:hover{
											background: color(primary);
											transform: translateZ(20px);
										}
									}
	
									&:focus{
										outline: none;
										filter: drop-shadow(0 0 2px color(secondary));
									}
								}
							}
	
							.social{
								background: color(darker);
								display: flex;
								flex-grow: 0;
								border-radius: $border-radius;
								justify-content: space-evenly;
								filter: drop-shadow(0 0 10px color(shadow));
								
								a{
									i{
										display: block;
										color:color(white-custom);
										height: 100%;
										transition: $anim-time $anim-type;
										font-size: x-large;
										padding: padding(xxs) 0 padding(xxs) padding(xxs);
	
										@include media (">=big-phone", "<tablet") {
											padding: padding(xs) 0 padding(xs) padding(s);
										}
										@include media (">=tablet", "<desktop") {
											padding: padding(xs) 0 padding(xs) padding(m);
										}
										@include media (">=desktop", "<big-desktop") {
											padding: padding(xs) 0 padding(xs) padding(m);
										}
										@include media (">=big-desktop") {
											padding: padding(xs) 0 padding(xs) padding(m);
										}
	
										&:last-child{
											padding-right: padding(xs);
	
											@include media (">=big-phone", "<tablet") {
												padding-right: padding(s);
											}
											@include media (">=tablet", "<desktop") {
												padding-right: padding(m);
											}
											@include media (">=desktop", "<big-desktop") {
												padding-right: padding(m);
											}
											@include media (">=big-desktop") {
												padding-right: padding(m);
											}
										}
	
										&:hover{
											color:color(primary);
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

a{
	text-decoration: none;
}

.copyright{
	display:flex;
	justify-content: center;
	align-items: center;
	color: color(white-custom);
	font: font(text-small);
	padding: padding(xxxs);
	filter: drop-shadow(0 0 4px color(black-custom));
	opacity: 1;
	background: color(darker);
	border-radius: $border-radius $border-radius 0 0;
	z-index: 2;
}